.userPhoto{
    width: 200px;
    height: 200px;
    margin-left: 9em;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35em; 
}

.edit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em; 
}
  
  .info{
    display: inline-flex;
    width: 38em;
    height: 15em;
    flex-direction: column;
    flex-wrap: wrap;    
  }

  .header{
      margin-left: 10em;
  }

  .buttons{
    margin-left: 9em;
  }
  
  .edit_buttons{
    margin-left: 23em;
    margin-bottom: 5em;
    margin-top: 1em;
  }