.container{
    display: inline-block;
    text-align: center;
}

.content_container{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    height: 10em;
    margin-bottom: 10em;
}

.textarea{
    width: 55em;
    height: 10em;
}

.page{
    height: 90em;
}

.button{
    margin-left: 25em;
    
}