* {
    box-sizing: border-box;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

.userPhoto {
  width: 300px;
 height: 200px;
}

.container{
  display: grid;  

}
.change {
  display: inline-block;
}

.name{
  float:left;  
}
