
.userPhoto {
 width: 200px;
 height: 200px;
 margin-left: 8em;
}

.header{
  text-align: center;
  margin-right: 4em;
}

.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 32em; 
}

.info{
  display: inline-flex;
  width: 35em;
  height: 12em;
  flex-direction: column;
  flex-wrap: wrap;    
}

.change {
  display: inline-block;
}

.name{
  float:left;  
}
