.postPhoto {
    width: 450px;
    height: 300px;
}

.userPhoto {
    width: 40px;
    height: 30px;
}

.username {
    float: right;
}

.author {
    text-align: left;
    margin-bottom: 1%;
}
.post{
    display: grid;
    padding: 10px;    
    margin-top: 2em;
    text-align: center; 
    /* background-color: yellowgreen; */
    border: 2px solid black;
}

.info{
    display: inline-grid;
}

.button{
    margin-top: 0%;
    width: 10;
    height: 10;
    size: 100;
}

.content_container{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 54em;
    height: 30em;
}