
  *{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 2%;
  }

  .container{    
    display: block;
    margin-left: 29em;
    margin-top: 8em;
    width: 41em;  
}
  
.inputes{
  width: 50em;
}

.header{
  margin-left: 6em;
}